Task 2 

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
1 . Try to reverse a list 
2. try to access 234 out of this list 
3 . try to access 456 
4 . Try to extract only a list collection form list l 
5 . Try to extract "sudh"
6 . Try to list all the key in dict element avaible in list 
7 . Try to extract all the value element form dict available in list

In [16]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [17]:
print(l)

[3, 4, 5, 6, 7, [23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9], (234, 6657, 6), {'key1': 'sudh', 234: [23, 45, 656]}]

In [18]:
print(dir(l))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### 1 . Try to reverse a list

In [19]:
print(l[::-1])

[{'key1': 'sudh', 234: [23, 45, 656]}, (234, 6657, 6), [345, 56, 87, 8, 98, 9], [23, 456, 67, 8, 78, 78], 7, 6, 5, 4, 3]

### 2. try to access 234 out of this list

In [22]:
l[7][0]

234

### 3 . try to access 456

In [25]:
print(l)
l[5][1]

[3, 4, 5, 6, 7, [23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9], (234, 6657, 6), {'key1': 'sudh', 234: [23, 45, 656]}]

456

### 4 . Try to extract only a list collection form list l

In [28]:
for i in l:
    if type(i) == list:
        print(i)
    else:
        print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
[23, 456, 67, 8, 78, 78]
[345, 56, 87, 8, 98, 9]
<class 'tuple'>
<class 'dict'>

In [29]:
l[5:7]

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

### 5 . Try to extract "sudh"

In [30]:
print(l)

[3, 4, 5, 6, 7, [23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9], (234, 6657, 6), {'key1': 'sudh', 234: [23, 45, 656]}]

In [35]:
l[8]['key1']

'sudh'

### 6 . Try to list all the key in dict element avaible in list

In [36]:
l[8].keys()

dict_keys(['key1', 234])

### 7 . Try to extract all the value element form dict available in list

In [38]:
list(l[8].items())

[('key1', 'sudh'), (234, [23, 45, 656])]

In [39]:
list(l[8].values())

['sudh', [23, 45, 656]]

In [40]:
list(l[8].keys())

['key1', 234]